{
  "extends": ["aroundus/prettier", "react-native"],
  "plugins": ["react-native"],
  "rules": {
    "class-methods-use-this": "off",
    "import/namespace": "off",
    "import/no-namespace": "off",
    "react-native/no-color-literals": "off"
  }
}
