.DS_Store
xcuserdata
*.xcuserstate
project.xcworkspace

*.iml
.idea
build
yarn.lock
yarn-error.log*
node_modules
npm-debug.log*
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
.vscode

# example
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
.idea
.gradle
local.properties
*.iml
buck-out/
\.buckd/
*.keystore
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
