.DS_Store

.idea
**/build
yarn-error.log*
node_modules
npm-debug.log*
.vscode

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

android/gradle/
android/gradlew
android/gradlew.bat
**/local.properties
**/.gradle
*.iml

buck-out/
\.buckd/
*.keystore

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
