.DS_Store
xcuserdata
*.xcuserstate
project.xcworkspace

*.iml
.idea
build
yarn.lock
yarn-error.log*
node_modules
npm-debug.log*
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
.vscode
example
